<form [formGroup]="todo" (ngSubmit)="logForm()">
  <ion-item>
    <ion-label>
      Track
    </ion-label>
    <ion-select>
      <ion-select-option>Track1</ion-select-option>
      <ion-select-option>Track2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="star" slot="start"></ion-icon>
    <ion-label>
      Inbound
    </ion-label>
    <ion-select>
      <ion-select-option>Inbound1</ion-select-option>
      <ion-select-option>Inbound2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-icon name="star" slot="start"></ion-icon>
    <ion-label>
      Inspection Type
    </ion-label>
    <ion-select>
      <ion-select-option>Type1</ion-select-option>
      <ion-select-option>Type2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Arrival Train ID</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Mech Received Date/Time</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Inspection Begin Date/Time</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="star" slot="start"></ion-icon>
    <ion-label>Comments</ion-label>
    <ion-textarea formControlName="comments"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label>
      Open for edit
    </ion-label>
    <ion-checkbox class="checkbox-square" ng-model="isCheckedCommercial">value 1</ion-checkbox>
  </ion-item>
</form>



